
.box{
    width:100px;
    height:100px;
}
.box1{
    background-color:green;
}
.box2{
    background-color:blue;
}
.box3{
    background-color:yellow;
}
.box4 {
    background-color:red;
}
.box5 {
    background-color: maroon;
}
.box6 {
    background-color: purple;
}
.box7 {
    background-color: lime;
}
.box8 {
    background-color: darkblue;
}

.biggerbox {
    display: flex;
    flex-wrap: wrap;
}

.challenge1 {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
}

.challenge2 {
    display: flex;
    flex-direction: row-reverse;
}

.challenge3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.challenge4 {
    display: flex;
    flex-direction: row-reverse;
}

.challenge5 {
    display: flex;
    flex-direction: row;
}

.challenge6 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.challenge7 {
    display: flex;
    flex-direction: row;
}

.challenge8 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}